a.btn-open-aternos:hover {
  box-shadow: 0 2px 2px #161c21 !important
}
a.btn-open-aternos {
  transition: 0.2s !important;
  border-radius: 30px;
}
@font-face {
  font-family: "Product Sans"
  src: local("Product-Sans-Regulsar.woff"), format("woff")
}
h1 {
  font-family: "Product Sans" !important
}
h2 {
  font-family: "Product Sans" !important
}
h3 {
  font-family: "Product Sans" !important
}
h4 {
  font-family: "Product Sans" !important
}
h5 {
  font-family: "Product Sans" !important
}
h6 {
  font-family: "Product Sans" !important
}