body span div div {
  background-color: #0f0f0f !important;
  opacity: 0;
}

body {
  opacity: 1 !important;
}
header.header {
  display: flex !important;
}
div.body {
  display: flex !important;
}
.btn {
  transition: 0.5s !important;
  border-radius: 200px !important
}
a.start-activity {
  transition: 0.5s !important;
  border-radius: 200px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
a.mod-signup {
  transition: 0.5s !important;
  border-radius: 200px !important;
}
.server-b-tutorials {
  display: none !important;
}
div.ad {
  display: none !important
}
aside.sidebar {
  display: none !important
}
div.header-ad {
  display: none !important
}
div.server-status-ad {
  display: none !important
}
i.far.fa-sad-tear {
  display: none !important
}
div.server-info-box-body {
  transition: 0.3s !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 0px !important
}
i.fas.fa-ban {
  display: none !important
}
btn.btn-red {
  transition: 0.5s !important;
  background-color: #f0f0f0 !important;
  color: #F62451 !important
}
a.start-activity.green {
  transition: 0.5s !important;
  display: none !important
}
a.start-activity-list {
  transition: 0.5s !important;
  justify-content: space-around !important
}
li.blocks-item {
  transition: 0.5s !important;
  border-radius: 200px !important
}
div.navigation-server-name {
  transition: 0.5s !important;
  font-weight: normal !important
}
div.config-options-file {
  transition: 0.5s !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  margin-top: 0px !important;
}
div.config-option-output {
  transition: 0.5s !important;
  background: #2d3943 !important
}
div.config-option-input {
  transition: 0.5s !important;
  border-radius: 20px !important
}
input.text-input {
  transition: 0.5s !important;
  border-radius: 20px !important
}
div.select {
  transition: 0.5s !important;
  border-radius: 20px !important
}
div.select-options {
  transition: 0.5s !important;
  border-radius: 20px !important
}
a.mod-signup {
  transition: 0.5s !important
}
@font-face {
  font-family: "Product Sans";
  src: local("Product-Sans-Regular.woff"), format("woff")
}
a.start-activity {
  transition: 0.5s !important;
width: 50% !important
}
div.server-ip {
  padding: 20px !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.3s !important
}
div.server-info-box-title {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important
}
div.navigation-server {
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: 0.5s !important;
  border-top: 0px solid !important;
  border-bottom: 0px solid !important;
  border-left: 2px solid !important;
  border-right: 0px solid !important;
  border-color: #fff !important
}
div.navigation-server.offline {
  background: #f62451 !important;
  border-color: #fff !important
}
div.navigation-server.online {
  background: #1fd78d !important;
  border-color: #fff !important
}
div.navigation-server.queueing {
  background: #d36e4f !important;
  border-color: #fff !important
}
div.navigation-server:hover {
  box-shadow: 0 2px 2px #161c21 !important
}
a.playerlist-menu-item.blue {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important
}
a.playerlist-menu-item.red {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important
}
a.playerlist-menu-item {
  border-bottom-right-radius: 20px !important;
  margin-bottom: 0px !important
}
i.fas.fa-spinner-third.fa-spin  {
  color: #fff
}
.fa-exclamation-triangle  {
  color: #fff
}
div.navigation-server.loading {
  background: #a4a4a4 !important;
  border-color: #fff !important
}
div.navigation-server-detail {
  color: #f0edd1 !important
}
div.statusplayerbadge {
  background: #1bc17e !important
}
div.status {
  transition: 0.5s !important
}
a.item {
  transition: 0.3s !important;
  font-size: 14px !important
}
a.logout {
  transition: 0.3s !important;
  font-size: 14px !important;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0 2px 2px #161c21 !important
}
.btn {
  transition: 0.3s !important
}
a.start-activity {
  transition: 0.3s !important;
  width: 100% !important
}
a.start-activity:hover {
  box-shadow: 0 3px 3px #0a0d0f !important
}
div#start {
  transition: 0.3s !important
}
div#start:hover {
  box-shadow: 0 3px 3px #0a0d0f !important
}
div.number-input {
  transition: 0.3s !important
}
div.number-input:hover {
  box-shadow: 0 3px 3px #0a0d0f !important
}
div.select {
  transition: 0.3s !important
}
div.select:hover {
  box-shadow: 0 3px 3px #0a0d0f !important
}
input.text-input {
  transition: 0.3s !important
}
input.text-input:hover {
  box-shadow: 0 3px 3px #0a0d0f !important
}
div.toggle {
  transition: 0.3s !important
}
div.toggle:hover {
  box-shadow: 0 3px 3px #0a0d0f !important
}
div.mclogs-share.btn.btn-main.btn-large.btn-no-margin {
  transition: 0.3s !important
}
div.mclogs-share.btn.btn-main.btn-large.btn-no-margin:hover {
  box-shadow: 0 3px 3px #0a0d0f !important
}
div.navigation-server {
  width: 0%;
  border-left: 0px !important;
  transition: 0.4s !important
}
div.navigation-server:hover {
  width: 100% !important
}
div.navigation-server:hover > div.navigation-server-icon.statusicon {
  opacity: 1 !important;
  color: #fff !important
}
div.navigation-server-icon.statusicon {
  opacity: 0 !important;
  color: #fff !important;
  transition: 0.3s !important
}
div.navigation-server:hover > div.navigation-server-info {
  display: block !important
}
div.navigation-server-info {
  transition: 0.3s !important
}
div.btn.btn-white.rkjyHUUdvffIISnBNNKAkQqMJGBAuYRiy strong {
  display: none !important
}
div.status-console {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  transition: 0.2s !important
}
div.status.loading.starting {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important
}
i.fas.fa-clock {
  color: #fff !important
}
nav.navigation.toggled > div.navigation-server {
  display: none !important
}
div.navigation-server-detail {
  transition: 0.3s !important
}
nav.navigation.toggled > a.item {
  padding-left: 15px !important
}
div.btn btn-main.btn-notext-mobile:hover > i.fas.fas-question-circle::before {
  display: inline-block !important
}
i.fas.fas-question-circle::before {
  display: none !important
}
div.btn btn-main.btn-notext-mobile {
  transition: 0.3s !important
}
i.fas.fas-question-circle {
  transition: 0.3s !important
}
nav.navigation {
  transition: 0.3s !important;
}
body.dark > header.header {
  transition: 0.3s !important;
  background-color: #0f0f0f;
  color: white;
}
body.dark-auto > header.header {
  transition: 0.3s !important;
  background-color: #0f0f0f;
  color: white;
}
body.default > header.header {
  transition: 0.3s !important;
  background-color: rgb(240, 240, 240);
  color: black;
}
body.default-auto > header.header {
  transition: 0.3s !important;
  background-color: rgb(240, 240, 240);
  color: black;
}

body.dark > header.header > .hamburger {
  transition: 0.3s !important;
  color: white;
}
body.dark-auto > header.header > .hamburger {
  transition: 0.3s !important;
  color: white;
}
body.default > header.header > .hamburger {
  transition: 0.3s !important;
  color: black;
}
body.default-auto > header.header > .hamburger {
  transition: 0.3s !important;
  color: black;
}

div.navigation-server:hover > div.navigation-server-info > div.navigation-server-name {
  color: #FFF !important;
  width: 100% !important;
}
div.navigation-server:hover > div.navigation-server-info > div.navigation-server-detail {
  color: #FFF !important;
  width: 100% !important;
}
div.navigation-server-name {
  transition: 0.3s !important;
}
div.navigation-server-detail {
  transition: 0.3s !important;
}
nav.navigation{
  scrollbar-width: none !important;
}
section.content {
  scrollbar-width: none !important;
}
html {
  scrollbar-width: none !important;
}

div.navigation-server.online > div.navigation-server-info > div.navigation-server-name {
  color: #1fd78d !important;
  width: 0% !important;
}
div.navigation-server.online > div.navigation-server-info > div.navigation-server-detail {
  color: #1fd78d !important;
  width: 0% !important;
}

div.navigation-server.loading > div.navigation-server-info > div.navigation-server-name {
  color: #a4a4a4 !important;
  width: 0% !important;
}
div.navigation-server.loading > div.navigation-server-info > div.navigation-server-detail {
  color: #a4a4a4 !important;
  width: 0% !important;
}

div.navigation-server.offline > div.navigation-server-info > div.navigation-server-name {
  color: #F62451 !important;
  width: 0% !important;
}
div.navigation-server.offline > div.navigation-server-info > div.navigation-server-detail {
  color: #F62451 !important;
  width: 0% !important;
}

div.navigation-server.queueing > div.navigation-server-info > div.navigation-server-name {
  color: #EB7B59 !important;
  width: 0% !important;
}
div.navigation-server.queueing > div.navigation-server-info > div.navigation-server-detail {
  color: #EB7B59 !important;
  width: 0% !important;
}

div.navigation-server.online:hover > div.navigation-server-info > div.navigation-server-name {
  color: #FFF !important;
  width: 100% !important;
}
div.navigation-server.online:hover > div.navigation-server-info > div.navigation-server-detail {
  color: #FFF !important;
  width: 100% !important;
}

div.navigation-server.loading:hover > div.navigation-server-info > div.navigation-server-name {
  color: #FFF !important;
  width: 100% !important;
}
div.navigation-server.loading:hover > div.navigation-server-info > div.navigation-server-detail {
  color: #FFF !important;
  width: 100% !important;
}

div.navigation-server.offline:hover > div.navigation-server-info > div.navigation-server-name {
  color: #FFF !important;
  width: 100% !important;
}
div.navigation-server.offline:hover > div.navigation-server-info > div.navigation-server-detail {
  color: #FFF !important;
  width: 100% !important;
}

div.navigation-server.queueing:hover > div.navigation-server-info > div.navigation-server-name {
  color: #FFF !important;
  width: 100% !important;
}
div.navigation-server.queueing:hover > div.navigation-server-info > div.navigation-server-detail {
  color: #FFF !important;
  width: 100% !important;
}
.message.orange {
  border-radius: 20px !important;
}
.js-players-box {
  border-radius: 0px;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  margin-right: 0px;
  border-right: 1px solid #128356;
}
.js-tps-box {
  border-radius: 0px;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  margin-left: 0px;
  border-left: 1px solid #128356;
}
.js-ram-box {
  border-radius: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border-right: 1px solid #128356;
  border-left: 1px solid #128356;
}
.live-status-box-main
 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.social {
  display: none !important;
}
body.dark {
  background-color: #0f0f0f;
  background: #0f0f0f;
}
.icontext-icon {
  border: none;
}
.splash-footer {
  background-color: #0f0f0f;
}
#about {
  background-color: #0f0f0f;
}
#features {
  background-color: #0f0f0f;
}
.row:nth-of-type(2n) {
  background-color: #0f0f0f;
}
body.dark > .body > .main > section {
  transition: 0.4s;
  background-color: #121212;
}
body.dark-auto > .body > .main > section {
  transition: 0.4s;
  background-color: #121212;
}
body.default > .body > .main > section {
  transition: 0.4s;
  background-color: rgb(211, 211, 211);
}
body.default-auto > .body > .main > section {
  transition: 0.4s;
  background-color: rgb(211, 211, 211);
}

body.dark > .body > .main {
  transition: 0.4s;
  background: #121212 !important;
}
body.dark-auto > .body > .main {
  transition: 0.4s;
  background: #121212 !important;
}
body.default > .body > .main {
  transition: 0.4s;
  background: rgb(211, 211, 211) !important;
}
body.default-auto > .body > .main {
  transition: 0.4s;
  background: rgb(211, 211, 211) !important;
}

body.dark > .body > .main > section > .page-content > .server-ip {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .server-ip {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .server-ip {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .server-ip {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}


body.dark > .body > .main > section > .page-content > .server-bottom > .server-bottom-info > .server-info-container > .server-info-box {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .server-bottom > .server-bottom-info > .server-info-container > .server-info-box {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .server-bottom > .server-bottom-info > .server-info-container > .server-info-box {
  transition: 0.4s;
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .server-bottom > .server-bottom-info > .server-info-container > .server-info-box {
  transition: 0.4s;
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .server-bottom > .server-bottom-info > .server-info-container > .server-info-box > .server-info-box-body {
  transition: 0.4s;
  background-color: #0f0f0f;
}
body.dark-auto > .body > .main > section > .page-content > .server-bottom > .server-bottom-info > .server-info-container > .server-info-box > .server-info-box-body {
  transition: 0.4s;
  background-color: #0f0f0f;
}
body.default > .body > .main > section > .page-content > .server-bottom > .server-bottom-info > .server-info-container > .server-info-box > .server-info-box-body {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
}
body.default-auto > .body > .main > section > .page-content > .server-bottom > .server-bottom-info > .server-info-container > .server-info-box > .server-info-box-body {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
}

.server-info-box-title {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}

body.dark > .body > .main > section > .page-content > .server-ip > .btn-topright {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .server-ip > .btn-topright {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .server-ip > .btn-topright {
  transition: 0.4s;
  background-color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .server-ip > .btn-topright {
  transition: 0.4s;
  background-color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .server-ip > .btn-topright > .fa-pencil-alt {
  transition: 0.4s;
  color: #0f0f0f;
}
body.dark-auto > .body > .main > section > .page-content > .server-ip > .btn-topright > .fa-pencil-alt {
  transition: 0.4s;
  color: #0f0f0f;
}
body.default > .body > .main > section > .page-content > .server-ip > .btn-topright > .fa-pencil-alt {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.default-auto > .body > .main > section > .page-content > .server-ip > .btn-topright > .fa-pencil-alt {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}

.tetris-row-element {
  border: none;
}
body.dark > .body > nav.navigation {
  transition: 0.4s;
  background-color: #0f0f0f;
}
body.dark-auto > .body > nav.navigation {
  transition: 0.4s;
  background-color: #0f0f0f;
}
body.dark > .body > nav.navigation > a.item > .fas {
  transition: 0.4s;
  color: #ffffff;
}
body.dark-auto > .body > nav.navigation > a.item > .fas {
  transition: 0.4s;
  color: #ffffff;
}
body.default > .body > nav.navigation {
  background-color: rgb(240, 240, 240);
}
body.default-auto > .body > nav.navigation {
  background-color: rgb(240, 240, 240);
}
body.default > .body > nav.navigation > a.item > .fas {
  color: rgb(0, 0, 0);
}
body.default-auto > .body > nav.navigation > a.item > .fas {
  color: rgb(0, 0, 0);
}
.server-info-box-body {
  background-color: #0f0f0f;
}
.number-option input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  background: #0f0f0f !important;
}
.input-number-up {
  border-top-right-radius: 20px;
  border-bottom: none;
}
.input-number-down {
  border-bottom-right-radius: 20px;
  border-top: none;
}
.input-number {
  width: 25px;
}
.toggle label {
  border-radius: 20px;
  background-color: #0f0f0f !important;
  background: #0f0f0f !important;
  border: 3px solid #0f0f0f !important;
}
.toggle {
  border-radius: 20px;
  background-color: #0f0f0f !important;
  background: #0f0f0f !important;
}
.toggle label::before {
  border-radius: 20px;
  font-size: 20px;
}
.toggle:not(.inverted) input:checked + label::before {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: 0.4s;
}
.toggle:not(.inverted) input:not(:checked) + label::before, .toggle.inverted input:checked + label::before {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: 0.4s;
}
body.default > header.header {
  transition: 0.3s !important;
  background-color: rgb(240, 240, 240);
}
body.default-auto > header.header {
  transition: 0.3s !important;
  background-color: rgb(240, 240, 240);
}
body.dark > header.header > .account-navigation > a.item {
  transition: 0.3s !important;
  color: rgb(240, 240, 240);
}
body.dark-auto > header.header > .account-navigation > a.item {
  transition: 0.3s !important;
  color: rgb(240, 240, 240);
}
body.default > header.header > .account-navigation > a.item {
  transition: 0.3s !important;
  color: #0f0f0f;
}
body.default-auto > header.header > .account-navigation > a.item {
  transition: 0.3s !important;
  color: #0f0f0f;
}

body.dark > header.header > .user {
  transition: 0.3s !important;
  color: rgb(240, 240, 240);
}
body.dark-auto > header.header > .user {
  transition: 0.3s !important;
  color: rgb(240, 240, 240);
}
body.default > header.header > .user {
  transition: 0.3s !important;
  color: #0f0f0f;
}
body.default-auto > header.header > .user {
  transition: 0.3s !important;
  color: #0f0f0f;
}

body.default > .body > nav.navigation > a.item > .navigation-item-label {
  color: rgb(0, 0, 0);
}
body.default-auto > .body > nav.navigation > a.item > .navigation-item-label {
  color: rgb(0, 0, 0);
}
body.dark > .body > nav.navigation > a.item > .navigation-item-label {
  color: #ffffff;
}
body.dark-auto > .body > nav.navigation > a.item > .navigation-item-label {
  color: #ffffff;
}
.backup-warn-icon {
  color: red !important;
}

body.dark > .body > nav.navigation > a.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.dark-auto > .body > nav.navigation > a.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.default > .body > nav.navigation > a.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
body.default-auto > .body > nav.navigation > a.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}

body.dark > .header > .account-navigation > a.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.dark-auto > .header > .account-navigation > a.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.default > .header > .account-navigation > a.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
body.default-auto > .header > .account-navigation > a.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}

body.dark > .body > .main > section > .page-content > .mclist-options {
  background: #0f0f0f;
  color: #fff;
  transition: 0.5s !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-bottom: 0px !important;
}
body.dark-auto > .body > .main > section > .page-content > .mclist-options {
  background: #0f0f0f;
  color: #fff;
  transition: 0.5s !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-bottom: 0px !important;
}
body.default > .body > .main > section > .page-content > .mclist-options {
  background: rgb(240, 240, 240);
  color: #000;
  transition: 0.5s !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-bottom: 0px !important;
}
body.default-auto > .body > .main > section > .page-content > .mclist-options {
  background: rgb(240, 240, 240);
  color: #000;
  transition: 0.5s !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-bottom: 0px !important;
}

.text-input {
  background: #0f0f0f;
}
.number-input > input {
  background: #0f0f0f;
}
.number-input {
  border-radius: 20px;
}
.option {
  background: #0f0f0f;
  border-radius: 20px;
  border-bottom: none;
}
.select-options .select {
  background: #0f0f0f !important;
  border-radius: 20px;
}
.input-number > div {
  background: #0f0f0f;
}

body.default > .body > .main > section > .page-content > .config-options-file {
  background: rgb(240, 240, 240);
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .config-options-file {
  background: rgb(240, 240, 240);
  color: #000;
}
body.dark > .body > .main > section > .page-content > .config-options-file {
  background: #0f0f0f;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .config-options-file {
  background: #0f0f0f;
  color: #fff;
}

body.default > .body > .main > section > .page-content > .config-options-file > h2 {
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .config-options-file > h2 {
  color: #000;
}
body.dark > .body > .main > section > .page-content > .config-options-file > h2 {
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .config-options-file > h2 {
  color: #fff;
}

body.default > .body > .main > section > .page-content > .config-options-file > .config-options > .config-option > .config-option-input {
  background: rgb(211, 211, 211);
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .config-options-file > .config-options > .config-option > .config-option-input {
  background: rgb(211, 211, 211);
  color: #000;
}
body.dark > .body > .main > section > .page-content > .config-options-file > .config-options > .config-option > .config-option-input {
  background: #121212;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .config-options-file > .config-options > .config-option > .config-option-input {
  background: #121212;
  color: #fff;
}

body.default > .body > .main > section > .page-content > .config-options-file > .config-options > .config-option > .config-option-output {
  background: rgb(240, 240, 240) !important;
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .config-options-file > .config-options > .config-option > .config-option-output {
  background: rgb(240, 240, 240) !important;
  color: #000;
}
body.dark > .body > .main > section > .page-content > .config-options-file > .config-options > .config-option > .config-option-output {
  background: #0f0f0f !important;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .config-options-file > .config-options > .config-option > .config-option-output {
  background: #0f0f0f !important;
  color: #fff;
}

body.dark > .body > nav.navigation > a.item::after {
  transition: 0.4s;
  color: #ffffff;
}
body.dark-auto > .body > nav.navigation > a.item::after {
  transition: 0.4s;
  color: #ffffff;
}
body.default > .body > nav.navigation > a.item::after {
  color: rgb(0, 0, 0);
}
body.default-auto > .body > nav.navigation > a.item::after {
  color: rgb(0, 0, 0);
}

body.dark > .body > .main > section > .page-content > .console > .console-title {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .console > .console-title {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .console > .console-title {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .console > .console-title {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .console > #console {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .console > #console {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .console > #console {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .console > #console {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .console {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .console {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .console {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .console {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .server-ip > .btn-group > a {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}
body.dark-auto > .body > .main > section > .page-content > .server-ip > .btn-group > a {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}
body.default > .body > .main > section > .page-content > .server-ip > .btn-group > a {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.default-auto > .body > .main > section > .page-content > .server-ip > .btn-group > a {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}

body.dark > .body > .main > section > .page-content > .log {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .log {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .log {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .log {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .list-input {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .list-input {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .list-input {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .list-input {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .list-input > input {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .list-input > input {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .list-input > input {
  transition: 0.4s;
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .list-input > input {
  transition: 0.4s;
  color: #0f0f0f;
}

body.dark > .body > .main {
  transition: 0.3s;
  background-color: #121212 !important;
  color: rgb(240, 240, 240) !important;
}
body.dark-auto > .body > .main {
  transition: 0.3s;
  background-color: #121212 !important;
  color: rgb(240, 240, 240) !important;
}
body.default > .body > .main {
  transition: 0.3s;
  background-color: rgb(211, 211, 211) !important;
  color: #0f0f0f !important;
}
body.default-auto > .body > .main {
  transition: 0.3s;
  background-color: rgb(211, 211, 211) !important;
  color: #0f0f0f !important;
}

body.dark > .body > .main > section > .page-content > .servers > .server > .server-body {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .servers > .server > .server-body {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .servers > .server > .server-body {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .servers > .server > .server-body {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .servers > .server > .server-body > .server-infos > .server-details > .server-id {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .servers > .server > .server-body > .server-infos > .server-details > .server-id {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .servers > .server > .server-body > .server-infos > .server-details > .server-id {
  transition: 0.4s;
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .servers > .server > .server-body > .server-infos > .server-details > .server-id {
  transition: 0.4s;
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .servers > .server > .server-body > .server-icon > .fas {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .servers > .server > .server-body > .server-icon > .fas {
  transition: 0.4s;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .servers > .server > .server-body > .server-icon > .fas {
  transition: 0.4s;
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .servers > .server > .server-body > .server-icon > .fas {
  transition: 0.4s;
  color: #0f0f0f;
}

body.dark > .header > .user > .usertext > .userlinks > span {
  transition: 0.15s !important;
  color: #fff !important;
}
body.dark-auto > .header > .user > .usertext > .userlinks > span {
  transition: 0.15s !important;
  color: #fff !important;
}
body.default > .header > .user > .usertext > .userlinks > span {
  transition: 0.15s !important;
  color: #000 !important;
}
body.default-auto > .header > .user > .usertext > .userlinks > span {
  transition: 0.15s !important;
  color: #000 !important;
}

body.dark > .body > .main > section > .page-content > .account-settings > .account-setting {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .account-settings > .account-setting {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .account-settings > .account-setting {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .account-settings > .account-setting {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}


body.dark > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body {
  transition: 0.4s;
  background-color: #121212;
  color: #fff;
}
body.dark-auto > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body {
  transition: 0.4s;
  background-color: #121212;
  color: #fff;
}
body.default > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body {
  transition: 0.4s;
  background-color: rgb(211, 211, 211);
  color: #000;
}
body.default-auto > .alert-wrapper > .alert-container > .alert-server > .alert > main > .server > .server-body {
  transition: 0.4s;
  background-color: rgb(211, 211, 211);
  color: #000;
}

body.dark > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body > .server-infos > .server-details > .server-id {
  transition: 0.4s;
  color: #fff;
}
body.dark-auto > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body > .server-infos > .server-details > .server-id {
  transition: 0.4s;
  color: #fff;
}
body.default> .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body > .server-infos > .server-details > .server-id {
  transition: 0.4s;
  color: #000;
}
body.default-auto > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body > .server-infos > .server-details > .server-id {
  transition: 0.4s;
  color: #000;
}

body.dark > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body > .server-icon > .fas {
  transition: 0.4s;
  color: #fff;
}
body.dark-auto > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body > .server-icon > .fas {
  transition: 0.4s;
  color: #fff;
}
body.default> .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body > .server-icon > .fas {
  transition: 0.4s;
  color: #000;
}
body.default-auto > .alert-wrapper > .alert-container > .alert > main > .alert-server > .server > .server-body > .server-icon > .fas {
  transition: 0.4s;
  color: #000;
}

body.dark > .alert-wrapper > .alert-container > .alert > main {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.dark-auto > .alert-wrapper > .alert-container > .alert > main {
  transition: 0.4s;
  background: #0f0f0f !important;
  color: #fff !important;
}
body.default> .alert-wrapper > .alert-container > .alert > main {
  transition: 0.4s;
  background-color: rgb(211, 211, 211);
  color: #121212;
}
body.default-auto > .alert-wrapper > .alert-container > main {
  transition: 0.4s;
  background-color: rgb(211, 211, 211);
  color: #121212;
}

body.dark > .alert-wrapper > .alert-container > .alert > header {
  transition: 0.4s;
  background: #0f0f0f !important;
  color: #fff !important;
}
body.dark-auto > .alert-wrapper > .alert-container > .alert > header {
  transition: 0.4s;
  background: #0f0f0f !important;
  color: #fff !important;
}
body.default> .alert-wrapper > .alert-container > .alert > header {
  transition: 0.4s;
  background: rgb(211, 211, 211) !important;
  color: #121212 !important;
}
body.default-auto > .alert-wrapper > .alert-container > .alert > header {
  transition: 0.4s;
  background: rgb(211, 211, 211) !important;
  color: #121212 !important;
}

body.dark > .body > .main > section > .page-content > .player-list > .list-item-container > .list-item {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .player-list > .list-item-container > .list-item {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.default > .body > .main > section > .page-content > .player-list > .list-item-container > .list-item {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .player-list > .list-item-container > .list-item {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}

body.dark > .body > .main > section > .page-content > .worldlist > .world {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .worldlist > .world {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.default > .body > .main > section > .page-content > .worldlist > .world {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .worldlist > .world {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}

body.dark > .body > .main > section > .page-content > .file-create {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .file-create {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.default > .body > .main > section > .page-content > .file-create {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .file-create {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}

body.dark > .body > .main > section > .page-content > .file-create > input {
  transition: 0.4s;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .file-create > input {
  transition: 0.4s;
  color: #fff;
}
body.default > .body > .main > section > .page-content > .file-create > input {
  transition: 0.4s;
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .file-create > input {
  transition: 0.4s;
  color: #000;
}

body.dark > header.header > .account-navigation > div.item {
  transition: 0.3s !important;
  color: rgb(240, 240, 240);
}
body.dark-auto > header.header > .account-navigation > div.item {
  transition: 0.3s !important;
  color: rgb(240, 240, 240);
}
body.default > header.header > .account-navigation > div.item {
  transition: 0.3s !important;
  color: #0f0f0f;
}
body.default-auto > header.header > .account-navigation > div.item {
  transition: 0.3s !important;
  color: #0f0f0f;
}

body.dark > .header > .account-navigation > div.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.dark-auto > .header > .account-navigation > div.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.default > .header > .account-navigation > div.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
body.default-auto > .header > .account-navigation > div.item:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}

div.item {
  cursor: pointer;
}
/*.navigation-settings {
  margin-top: 0px;
}*/
body.dark > .body > nav.navigation > .navigation-settings {
  transition: 0.4s;
  color: #ffffff;
}
body.dark-auto > .body > nav.navigation > .navigation-settings {
  transition: 0.4s;
  color: #ffffff;
}
body.default > .body > nav.navigation > .navigation-settings {
  color: rgb(0, 0, 0);
}
body.default-auto > .body > nav.navigation > .navigation-settings {
  color: rgb(0, 0, 0);
}

.loader {
  border: 13px solid #f3f3f3; /* Light grey */
  border-top: 13px solid #2b87d3; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  position: absolute;
  top: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

body.dark {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.dark-auto {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.default {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}
body.default-auto {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}

body.dark > .loading-text > .spinner > div {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
}
body.dark-auto > .loading-text > .spinner > div {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
}
body.default > .loading-text > .spinner > div {
  transition: 0.4s;
  background-color: #0f0f0f;
}
body.default-auto > .loading-text > .spinner > div {
  transition: 0.4s;
  background-color: #0f0f0f;
}
.spinner {
  margin: auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

body.dark > .body > .main > section > .page-content > .lists > .list > .friends-share-list > .list-item-container > .list-item {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .lists > .list > .friends-share-list > .list-item-container > .list-item {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: #fff;
}
body.default > .body > .main > section > .page-content > .lists > .list > .friends-share-list > .list-item-container > .list-item {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .lists > .list > .friends-share-list > .list-item-container > .list-item {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #000;
}

body.dark > .body > .main > section > .page-content > .lists > .list > .list-input {
  transition: 0.4s;
  background: #0f0f0f;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .lists > .list > .list-input {
  transition: 0.4s;
  background: #0f0f0f;
  color: #fff;
}
body.default > .body > .main > section > .page-content > .lists > .list > .list-input {
  transition: 0.4s;
  background: rgb(240, 240, 240);
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .lists > .list > .list-input {
  transition: 0.4s;
  background: rgb(240, 240, 240);
  color: #000;
}

body.dark > .body > .main > section > .page-content > .lists > .list > .list-input > input {
  transition: 0.4s;
  color: #fff;
}
body.dark-auto > .body > .main > section > .page-content > .lists > .list > .list-input > input {
  transition: 0.4s;
  color: #fff;
}
body.default > .body > .main > section > .page-content > .lists > .list > .list-input > input {
  transition: 0.4s;
  color: #000;
}
body.default-auto > .body > .main > section > .page-content > .lists > .list > .list-input > input {
  transition: 0.4s;
  color: #000;
}

body.dark > .body > .main > section > .page-content > .lists > .list > .list-input > .btn {
  transition: 0.4s;
  background: rgb(240, 240, 240);
  color: #000;
}
body.dark-auto > .body > .main > section > .page-content > .lists > .list > .list-input > .btn {
  transition: 0.4s;
  background: rgb(240, 240, 240);
  color: #000;
}
body.default > .body > .main > section > .page-content > .lists > .list > .list-input > .btn {
  transition: 0.4s;
  background: #0f0f0f;
  color: #fff;
}
body.default-auto > .body > .main > section > .page-content > .lists > .list > .list-input > .btn {
  transition: 0.4s;
  background: #0f0f0f;
  color: #fff;
}

body.dark > .body > .main > section > .page-content > .server-status > .status-console {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .server-status > .status-console {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .server-status > .status-console {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .server-status > .status-console {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}

body.dark > .body > .main > section > .page-content > .server-status > .status-console > .status-console-button > .btn {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .server-status > .status-console > .status-console-button > .btn {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .server-status > .status-console > .status-console-button > .btn {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .server-status > .status-console > .status-console-button > .btn {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.dark > .header > .user > .userdropdown {
  transition: 0.15s !important;
  background-color: #0f0f0f;
}
body.dark-auto > .header > .user > .userdropdown {
  transition: 0.15s !important;
  background-color: #0f0f0f;
}
body.default > .header > .user > .userdropdown {
  transition: 0.15s !important;
  background-color: rgb(240, 240, 240);
}
body.default-auto > .header > .user > .userdropdown {
  transition: 0.15s !important;
  background-color: rgb(240, 240, 240);
}
body.dark > .header > .user > .userdropdown > .logout:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.dark-auto > .header > .user > .userdropdown > .logout:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.default > .header > .user > .userdropdown > .logout:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
body.default-auto > .header > .user > .userdropdown > .logout:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
body.dark > .header > .user > .userdropdown > a:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.dark-auto > .header > .user > .userdropdown > a:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.default > .header > .user > .userdropdown > a:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
body.default-auto > .header > .user > .userdropdown > a:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
.userdropdown > div {
  display: flex;
  align-items: center;
  padding: 8px 18px 8px 12px;
  white-space: nowrap;
  transition: 0.15s !important;
}
.userdropdown > a {
  transition: 0.15s !important;
}
.userdropdown > div > i {
  margin-right: 6px;
}
body.dark > .header > .user > .userdropdown > div:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.dark-auto > .header > .user > .userdropdown > div:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px #202020 !important;
  background-color: #202020 !important;
}
body.default > .header > .user > .userdropdown > div:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
body.default-auto > .header > .user > .userdropdown > div:hover {
  transition: 0.15s !important;
  box-shadow: 0 2px 2px rgb(211, 211, 211) !important;
  background-color: rgb(211, 211, 211) !important;
}
@media all and (max-width:1000px) {
  .content {
    padding-top: 0px;
  }
  .server-ip {
    border-radius: 0px !important;
    margin-top: 0px !important;
  }
  .status {
    border-radius: 0px !important;
  }
  .header {
    height: 60px !important;
  }
  .body {
    height: calc(100% - 60px) !important;
  }
}
.status {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

body.dark > .body > .main > section > .page-content > .create-setup-server > .mclist-options {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .create-setup-server > .mclist-options {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .create-setup-server > .mclist-options {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .create-setup-server > .mclist-options {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
.mclist-options {
  border: none !important;
}


body.dark > .body > .main > section > .page-content > .create-setup-server > .change-later-notice {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.dark-auto > .body > .main > section > .page-content > .create-setup-server > .change-later-notice {
  transition: 0.4s;
  background-color: #0f0f0f;
  color: rgb(240, 240, 240);
}
body.default > .body > .main > section > .page-content > .create-setup-server > .change-later-notice {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
body.default-auto > .body > .main > section > .page-content > .create-setup-server > .change-later-notice {
  transition: 0.4s;
  background-color: rgb(240, 240, 240);
  color: #0f0f0f;
}
.change-later-notice {
  border: none !important;
}
@media all and (max-width:1800px) {
  .header {
    height: 100px !important;
  }
  .body {
    height: calc(100% - 100px) !important;
  }
}
@media all and (max-width:1400px) {
  .header {
    height: 80px !important;
  }
  .body {
    height: calc(100% - 80px) !important;
  }
}
.alert > main {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.alert {
  margin: 0px;
}
.alert > header {
  border-radius: 0px;
}
.alert::before {
  content: "";
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.navigation-server.pinned {
  border-radius: 0px !important;
  width: 100% !important;
}
.navigation-server.pinned > div.navigation-server-icon.statusicon {
  opacity: 1 !important;
  color: #fff !important
}
div.navigation-server.pinned > div.navigation-server-info {
  display: block !important
}
div.navigation-server.pinned > div.navigation-server-info > div.navigation-server-name {
  color: #FFF !important;
  width: 100% !important;
}
div.navigation-server.pinned > div.navigation-server-info > div.navigation-server-detail {
  color: #FFF !important;
  width: 100% !important;
}