div#VIEPjrUPrEjWQcNlAAkdjlPe {
  display: none !impotrant
}
section.content {
  display: flex !important
}
nav.navigation {
  display: flex !important
}
a.item {
  display: flex !important
}
header.header {
  display: flex !important
}
div.btn.btn-main.btn-notext-mobile {
  display: flex !important
}
a.logo {
  display: flex !important
}